header {
	margin-top: 0;
}

body {
	background-image: url('../images/body1.jpg');
	background-size: cover;
	margin-top: 0;
}

.headerElements {
	margin :0px;
	font-size: 120%;
}

.date {
    display: inline;
    width: 432px;
}

 #tabs {
 	height: 810 px;
}

#tabs-1 {
	background-image : linear-gradient(
      rgba(198, 187, 200, 0.30), 
      rgba(198, 187, 200, 0.30)
    ),url("../images/imagee.png");
	background-size: cover;
}

#tabs-2 {
	background-image : linear-gradient(
      rgba(198, 187, 200, 0.30), 
      rgba(198, 187, 200, 0.30)
    ),url("../images/hotel.png");
	background-size: cover;	
}

#tabs-3 {
	background-image : linear-gradient(
      rgba(198, 187, 200, 0.30), 
      rgba(198, 187, 200, 0.30)
    ),url("../images/car.png");	
	background-size: cover;
}

#mainbody {
	background-image: linear-gradient(
      rgba(198, 187, 200, 0.30), 
      rgba(198, 187, 200, 0.30)
    ),url('../images/emirates.jpg');
    width: 800px;
    height: 500px;
    background-size: cover;
}

h2 {
	text-align: center;
	margin : 20px;
	margin-top: 30px;
	padding-top: 30px;
	color: blue;
}

.para1 {
	font-family: verdana;
	font-size: 1.5em;
	color: black; 
	text-align: center;
}

.card-deck {
	margin-top: 60px;
}

.form-signin {
	display: block;
	text-align: center;
	width: 200px;
	margin-top: 100px;
}


#inputPassword {
	margin-top: 10px;
	margin-bottom: 10px;
}

img {
	width : 10;
	height: :20;
}

.logo {
	font-size: 5em;
}

footer {
	margin-bottom: 0; 
}