.headerElements {
	margin :0px;
	font-size: 120%;
}

.date {
    display: inline;
    width: 432px;
}

#tabs-1 {
	background-image : linear-gradient(
      rgba(198, 187, 200, 0.30), 
      rgba(198, 187, 200, 0.30)
    ),url("imagee.png");
	background-size: cover;
}

#tabs-2 {
	background-image : linear-gradient(
      rgba(198, 187, 200, 0.30), 
      rgba(198, 187, 200, 0.30)
    ),url("hotel.png");
	background-size: cover;	
}

#tabs-3 {
	background-image : linear-gradient(
      rgba(198, 187, 200, 0.30), 
      rgba(198, 187, 200, 0.30)
    ),url("car.png");	
	background-size: cover;
}

 #tabs {
 	height: 810 px;
}

.card-deck {
	margin-top: 60px;
}

.form-signin {
	display: block;
	text-align: center;
	width: 200px;
	margin-top: 100px;
}


#inputPassword {
	margin-top: 10px;
	margin-bottom: 10px;
}

img {
	width : 10;
	height: :20;
}

.logo {
	font-size: 3em;
}

footer {
	margin-bottom: 0; 
}