#mainbody {
	background-image: linear-gradient(
      rgba(198, 187, 200, 0.30), 
      rgba(198, 187, 200, 0.30)
    ),url('emirates.jpg');
    width: 800px;
    height: 500px;
    background-size: cover;
}

h2 {
	text-align: center;
	margin : 20px;
	margin-top: 30px;
	padding-top: 30px;
	color: blue;
}

.para1 {
	font-family: verdana;
	font-size: 1.5em;
	color: black; 
	text-align: center;
}

body {
	background-image: url('body1.jpg');
	background-size: cover;
}